---
- name: "Upgrading all packages"
  community.general.pkgng:
    name: "*"
    state: "latest"

- name: "Installing required packages"
  community.general.pkgng:
    name: "{{ item }}"
    state: "latest"
  loop:
    - "sudo" # To enable elevated command.
    - "qemu-guest-agent" # To enable proxmox do manage the VM.

- name: "Setting the qemu-guest-agent to auto start"
  ansible.builtin.lineinfile:
    path: "/etc/rc.conf"
    regexp: "{{ item.searchFor }}"
    line: "{{ item.replaceWith }}"
    state: "present"
  loop:
    - {searchFor: "qemu_guest_agent_enable=", replaceWith: "qemu_guest_agent_enable=\"YES\""}
    - {searchFor: "qemu_guest_agent_flags=", replaceWith: "qemu_guest_agent_flags=\"-d -v -l /var/log/qemu-ga.log\""}
  notify: "Restart qemu-guest-agent"

- name: "Creating the qemu-guest-agent.sh file that will be called on the boot"
  ansible.builtin.lineinfile:
    path: "/usr/local/etc/rc.d/qemu-guest-agent.sh"
    line: "service qemu-guest-agent start"
    create: true
    mode: "754"
    state: "present"
